<!--Footer Begins Here -->
<footer class="py-5 bg-dark" style="margin-bottom: -60px;">

    <div class="container-fluid d-inline-block">
        <div class="row">

            <div class="bg-dark col-md-9 col-sm-8 row">
                <a href="/projects" class="nav-link text-white ml-5">Projects</a>
                <a href="/blog" class="nav-link text-white ml-5">Blog</a>
                <a href="/about" class="nav-link text-white ml-5">About</a>
                <a href="/contact" class="nav-link text-white ml-5">Contact</a>
            </div>

            <div class="bg-dark col-sm-4 col-md-3">
                <p class="m-0 text-center text-white">&copy;Mirza Talha, 2020 <br>Built at Thruskills</p>
            </div>

        </div>
    </div>



    </footerclass="py-5 bg-dark">
    </footerclass>>

    <!-- Footer Ends Here -->