<div class="container">
    <nav aria-label="breadcrumb " style="margin-top: 30px";>
        <ol class="breadcrumb bg-transparent ">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">About</li>
        </ol>
    </nav>



    <div class="row">

        {{>sidebar}}

        <div class="col-md-9">


            <div>
                <h3>Introduction</h3>  <br>
            
                <p>My name is <b> Mirza Talha</b>. <br>
                    I have completed my B.E in Electronics and communication.
                    During my university studies I learnt some basic skills in computer science. <br>
                    Now I am actively seeking employment in full stack development.
                    I am a reliable person with good time keeping.I try my best to follow 
                    instructions accurately and I possess good verbal and written skills.
                </p>
            </div>
              <hr>
            <div>
                <h3>About this project</h3> <br>
             
                <p>I created this project starting with creating templetes using handlebars in express
                    generator and required pages using bootstrap.Then I added routes
                    for the respective requests.I added all the projects and blogs content
                    in  various collections of a database and connected to it using Mongodb.
                    Contact form was also added with backend validation done on various 
                    mentioned conditions using check from express validation module.
                    The data if successfully entered,gets added to a collection in the 
                    mongodb database.
                </p>
            </div>
               <hr>
            <div>
                <h3>Project timelines</h3>
                <br>
             
                <ul>
                    <li>
                        <p><b>14 Jan 2020</b>, various bootstrap pages and layouts were created in
                         handlebars js in express generator.   </p>
                    </li>
                     <li>
                        <p><b>16 Jan 2020</b>, headers,footers and sidebars were included with partials 
                        concept .
                        </p>
                    </li>
                     <li>
                        <p><b>17 Jan 2020</b>, contact form was done with Express Validation module.
                        </p>
                    </li>
                     <li>
                        <p><b>18 Jan 2020</b>, data was inserted in Mongodb database</p>
                    </li>
                     <li>
                        <p><b>19 Jan 2020</b>, data from database was displayed using mongodb
                        module
                    </li>


                </ul>
               
            </div>
            <br><br>


        </div>

    </div>
</div>